.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 0;
  align-items: center;
  background-color: #070f24;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: calc(100% - 100px);
  border-bottom: #eee solid 2px;
}
@media (max-width: 1000px) {
  .appBar {
    width: calc(100% - 50px);
    padding: 0 25px 0;
  }
}
.appBar p {
    color: #eee;
    font-size: 25px;
    font-weight: 500;
}
@media (max-width: 400px) {
  .appBar p {
    font-size: 21px;
  }
}
.appBar ul {
    list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 450px;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .appBar ul {
    display: none;
  }
}
.appBar ul a {
  text-decoration: none;
  color: #eee;
  font-weight: 400;
  display: block;
}
.appBar ul a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #eee;
  width: 0%;
  transition: 0.3s ease-out;
  margin-left: 50%;
  transform: translateX(-50%);
}
.appBar ul a:hover::after {
  width: 100%;
}
.appBar .icon {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media (max-width: 1000px) {
  .appBar .icon {
    display: flex;
  }
}
.appBar div div {
  height: 2px;
  width: 100%;
  background-color: #eee;
}
